/*#random-container {
    display: none;
}

.imgText {
    display: none;
}

.skillIcon {
    display: none;
}*/


/*html {
    height: 200px;
    width: 200px;
}*/

.bigScreen {
    display: none;
}
.underDev {
    display: block;
}